.vid-thumbnail {
    height: 10.75rem;
    width: 15rem;
}

.video-thumbnail iframe {
    display: block;
    height: 100%;
}

.video-thumbnail div {
    height: 10.75rem;
    width: 15rem;
}

.vid-wrapper {
    width: 15rem;
}

.video-card-txt {
    font-size: 0.75rem;
}

.playlist-modal {
    display: none;
}

.playlist-modal-appear {
    min-width: 12.5rem;
    position: absolute;
    bottom: 5%;
    left: 5%;
    background-color: var(--over);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 8px;
    z-index: 2;
}

.playlist-modal-appear::-webkit-scrollbar {
    width: none;
    display: none;
}